<div *ngIf="viewMode; else editable">
  <div *ngIf="currentBroker.brokerId">
    <h4>Broker</h4>
    <div>
      <label><strong>Name:</strong></label> {{ currentBroker.name }}
    </div>
    <div>
      <label><strong>Country:</strong></label> {{ currentBroker.country }}
    </div>
    <div>
      <label><strong>File Importer:</strong></label> {{ currentBroker.fileImporter }}
    </div>
    <a class="btn btn-primary btn-sm" routerLink="/brokers/{{ currentBroker.brokerId }}">
      Edit
    </a>
  </div>
  <div *ngIf="!currentBroker">
    <br />
    <p>Please click on a Broker...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentBroker.brokerId" class="edit-form">
    <h4>Broker</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="currentBroker.name" name="name" />
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" [(ngModel)]="currentBroker.country" name="country" />
      </div>
    </form>
    <button class="btn btn-danger btn-sm" (click)="deleteBroker()">
      Delete
    </button>
    <button type="submit" class="btn btn-success btn-sm" (click)="updateBroker()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentBroker.brokerId">
    <br />
    <p>Cannot access this Broker...</p>
  </div>
</ng-template>