<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Finance</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="brokers" class="nav-link">Brokers</a>
      </li>
      <li class="nav-item">
        <a routerLink="tickers" class="nav-link">Tickers</a>
      </li>
      <li class="nav-item">
        <a routerLink="brokers/add" class="nav-link">Add Broker</a>
      </li>
      <li class="nav-item">
        <a routerLink="tickers/add" class="nav-link">Add Ticker</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>